<div class="container">
  <div class="col-md-10 col-md-offset-1">
  <h3>View All Category</h3>
  <table class="table table-bordered table-striped">
  	<tr>
  		<th>S.No.</th>
  		<th>Category Name</th>
      <th>Category Image</th>
  		<th>Edit</th>
  		<th>Delete</th>
  	</tr>
  	<% data.forEach(function(x, i){ %>
  		<tr>
  			<td><%= i+1 %></td>
  			<td><%= x.category_name %></td>
        <td><img width="20px"" height="20px" src="/category_images/<%= x.category_image %>" ></td>
  			<td><a href="view_category/edit/<%= x.category_id %>" class="btn btn-sm btn-info">Edit</a></td>
  			<td><a href="/admin/view_category/delet/<%= x.category_id %>" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a></td>

  		</tr>
 <% }) %>
  </table>
</div>
</div>

<div class="modal fade" id="delModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Delete</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure want to delete this category !</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default">Cancle</a>
				<a href="#" class="btn btn-danger">OK</a>
			</div>
		</div>
	</div>
</div>
